.jumbotron {
    background-color: transparent;
    color: #66FCF1;
    margin: 0;

    
}

.backgroundImg {
margin-top: 0;
margin-bottom: 20px;
position: relative;
top: -50px;
}

.navbar {
    margin: 0;
    background-color: #0b0c10;
}

.login-form {
    margin: 30px;
}
.signup-form {
    text-align: left;
}

.display-4 {
    font-size: 150px;
    font-weight: bolder;
}

.btn {
    margin: 2px;
    background-color: #1f2833;
    border-color: #45a29e;
}

body {
    background-image: url("../assets/background-fvg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
