.profile-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 10px; 
    width: 90%;
    margin: 5%;
    margin-top: 20px;
    border-radius: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}

.profile-card {
    background-color: #c5c6c7;

}
.profile-card-top {
    margin: 20px;
    margin-bottom: 0;
    background-color: white;
    border-radius: 10rem;
}

.username {
    margin-top: 0;
}

.badge-container {
    /* overflow-y: auto; */
    height: 400px;
    margin-bottom: 0;
    background-color: #c5c6c7;
}

.card-header {
    font-size: 45px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-body {
    overflow-y: auto;
}
.emote-container {
    margin-top: 0;
    height: 350px;
    background-color: #c5c6c7;
}

.emote-body {
    display: flex;
    justify-content: left;
    align-items: left;
    padding: 20px;
}

body {
    background-image: url("../assets/background-fvg.jpg");
    background-repeat: repeat;
    background-size: cover;
}